[2015-09-22 00:12] moylop260 opened #1 "Use ${HOME}/build/{OWNER}/{REPO} instead of ${HOME}/myproject/{REPO}"
This is useful to get a good configuration from `.coveragerc` that has
[code]

[2015-09-22 00:22] #1 closed

[2015-09-22 03:10] moylop260 opened #4 "[REF] support for addons->apt->sources and addons->apt->packages"
Translate next yaml

[code]

to next execute script as root user

[code]

Using next whitelists:
https://github.com/travis-ci/apt-source-whitelist/blob/master/ubuntu.json
https://github.com/travis-ci/apt-package-whitelist/blob/master/ubuntu-precise

To generate next Dockerfile

[code]

Create python environment to install packages

[code]

and set password to users travis and root

[2015-10-18 01:58] blaggacao opened #9 "Compiled Binaries"
For it to be used as an entry point for new OCA user, we would need pre-build binaries for windows, mac and linux. How can we do this? In go, this would be very simple, however in python no idea...

[2015-10-18 02:13] blaggacao commented on #9
@moylop260 I'm thinking loud following our latest and very interesting conversation...

In order to simplify things and be not dependent on a python stack, but manage simple precompiled binaries, I think it would be beneficial to achieve the following:

- Make an appropriate Docker Base image for OCA repos.
- Adapt the travis files to work with docker.
- Run you travis2docker on the repos as a mai

[2015-12-19 00:28] moylop260 commented on #9
FYI We will follow this issue in following https://github.com/OCA/maintainer-quality-tools/pull/303

[2015-12-19 00:28] #9 closed

[2015-12-21 18:13] zaoral opened #23 "[IMP] add version argument to command line."
travis2docker commnad line has an option to show currenclty travis2docker version installed.

[2015-12-21 18:15] moylop260 commented on #23
Currently the command version is not present.
We are using pip features, could you try with follow command:
`pip freeze | grep travis2docker`

[2015-12-22 16:28] zaoral commented on #23
@moylop260  I Got it. Thank you Moy.
Maybe we can add this information about how to know the travis2docker version installed in the README file. And we close this issue.

Are you agree?

[2015-12-22 21:54] zaoral commented on #23
@moylop260 also this could be helpfull for have the version of the program http://stackoverflow.com/questions/15405636/pythons-argparse-to-show-programs-version-with-prog-and-version-string-formatt

[2016-02-11 19:07] moylop260 opened #36 "Param --include-after-success even is used and can't avoid it"
If I use:
`travisfile2dockerfile --include-after-success PROJECT BRANCH`
and
`travisfile2dockerfile PROJECT BRANCH`
The result is the same

I expected that:
`after-success` script should be just in case explicit of add the parameter.

[2016-02-11 21:49] #36 closed

[2016-03-22 14:56] moylop260 opened #48 "Add compatibility with repositories named with point '.'"
Currently, if you use t2d for repositories with name `something.other.thing` the image is named: `something``

Expected:
Image name `something_other_thing`

[2016-03-22 14:57] moylop260 opened #49 "Add compatibility with old format of env"
Currently the old format of `env` from `.travis.yml` file is not supported.

Expected:
Create a raise or fix it

[2016-03-22 20:50] osvalr opened #50 "Use CDPATH environment variable"
### What is `CDPATH`?

I have been using it for a while and I think It should be useful to include into CDPATH the following directories mostly used to move between them:
- `~/` : because Project's dependencies are located here
- Main build directory (e.g. `/root/build/Vauxoo/`)

[2016-03-23 17:05] moylop260 commented on #50
:+1:

[2016-04-18 19:20] LuisAlejandro opened #51 "Use github's webhooks to trigger docker builds on hub.docker.com"
I really don't know if this issue belongs here, but as this is the tool that generates docker containers for each of our projects, i guess it's the best place.

**Proposal:**

Use the webhooks from github to trigger a new build of a docker image hosted in hub.docker.com, each time a dependency of that image is updated with a commit (or merge) in the main branch (currently 8.0).

For example, lets

[2016-04-18 19:22] nhomar commented on #51
On Mon, Apr 18, 2016 at 2:20 PM, Luis Alejandro Martínez Faneyth <
notifications@github.com> wrote:

We have it already in quay.io with private plans, we can create the
developers version there also.

--
Nhomar Hernandez
CEO Vauxoo.
Site: http://vauxoo.com
Twitter: @nhomar
Blog: http://nhomar.com
Github User: https://github.com/nhomar
Odoo Gold Partner
Skype: nhomar00 (Envia mail previo no lo supe

[2016-04-18 19:29] LuisAlejandro commented on #51
And quay.io accepts triggered builds?

[2016-04-18 21:03] nhomar commented on #51
Yes.

On Mon, Apr 18, 2016 at 2:29 PM, Luis Alejandro Martínez Faneyth <
notifications@github.com> wrote:

--
Nhomar Hernandez
CEO Vauxoo.
Site: http://vauxoo.com
Twitter: @nhomar
Blog: http://nhomar.com
Github User: https://github.com/nhomar
Odoo Gold Partner
Skype: nhomar00 (Envia mail previo no lo superviso siempre).
HangOut: nhomar@vauxoo.com
Móvil Venezuela:
+58 4144110269
Móvil México:
+52 1

[2016-05-04 13:35] osvalr opened #52 "Install on fresh Ubuntu 16.04"
I've installed with `pip install git+https://github.com/Vauxoo/travis2docker.git` in a Ubuntu 16.04 amd64 (I've check `python2.7` and `python-pip` packages are installed on my system) so when trying to use it there is no command found, is there something am I missing?

### Please see the following asciinema

[![](https://asciinema.org/a/ccn9ftgq7fqxcgwj7epu7miuk.png)](https://asciinema.org/a/ccn9f

[2016-05-04 13:52] osvalr commented on #52
A temporal solution for this:
[code]

[2016-05-04 13:54] moylop260 commented on #52
I can't to reproduce it in docker ubuntu:16.04

[2016-05-04 14:05] moylop260 commented on #52
Other temporal solution is add your local bin path to your `PATH`

`export PATH=${PATH}:${HOME}/.local/bin`

The main issue is pip, that all packages is installing in your local path.

[2016-05-04 14:05] #52 closed

[2016-05-04 19:01] nhomar commented on #52
On Wed, May 4, 2016 at 8:52 AM, Osval Reyes <notifications@github.com>
wrote:

Lo correcto es cuando instalas en .local es agregarlo a tus path en el
.bashrc.

Los enlaces simbólicos no son buenos por que estás rompiendo lo que pediste
hacer al instalar con --user

--
Nhomar Hernandez
CEO Vauxoo.
Site: http://vauxoo.com
Twitter: @nhomar
Blog: http://nhomar.com
Github User: https://github.com/nhoma

[2016-05-04 20:40] osvalr commented on #52
@nhomar the normal behavior should be when it's installed all commands related to the package working without any extra step... BTW, I didn't use `--user`

[2016-05-04 20:43] nhomar commented on #52
On Wed, May 4, 2016 at 3:40 PM, Osval Reyes <notifications@github.com>
wrote:

If it installed on .local either or did you use --user or you did not use
sudo or the pip config is not properlly setted.

--
Nhomar Hernandez
CEO Vauxoo.
Site: http://vauxoo.com
Twitter: @nhomar
Blog: http://nhomar.com
Github User: https://github.com/nhomar
Odoo Gold Partner
Skype: nhomar00 (Envia mail previo no lo sup

[2016-05-05 18:51] nhomar commented on #52
On Wed, May 4, 2016 at 8:35 AM, Osval Reyes <notifications@github.com>
wrote:

CAn you share the outpu tof your PYTHONPATH.

--
Nhomar Hernandez
CEO Vauxoo.
Site: http://vauxoo.com
Twitter: @nhomar
Blog: http://nhomar.com
Github User: https://github.com/nhomar
Odoo Gold Partner
Skype: nhomar00 (Envia mail previo no lo superviso siempre).
HangOut: nhomar@vauxoo.com
Móvil Venezuela:
+58 4144110269
M

[2016-07-07 19:32] lasley opened #53 "[BUG] False positives on database creation failures"
Hi Friends,

Something I've noticed with Travis2Docker is that if a build is severely broken, such as in the instance of a missing XML ID, the build itself shows as passing.

Example:
* Travis fail - https://travis-ci.org/laslabs/vertical-medical/jobs/143141347
* Runbot pass - https://runbot.laslabs.io/runbot/build/1895
* Runbot logs - https://runbot.laslabs.io/runbot/static/build/01895-feature-c0

[2016-07-08 01:57] moylop260 commented on #53
It's is a issue of runbot, because runbot don't process the returned-code from script executed.
Just process the log base on [regex](https://github.com/odoo/odoo-extra/blob/a28950c1deee9b4167fa266051b5352b8323f191/runbot/runbot.py#L45-L46) and [Modules loaded log message](https://github.com/odoo/odoo-extra/blob/a28950c1deee9b4167fa266051b5352b8323f191/runbot/runbot.py#L982)

Now, the runbot log th

[2016-07-08 01:57] #53 closed

[2016-07-08 03:06] lasley commented on #53
Ah understood, thanks @moylop260. I'll check out the unbuffer then submit a patch against runbot_travis2docker if it fixes.

[2016-07-27 02:48] moylop260 commented on #49
Fix https://github.com/Vauxoo/travis2docker/commit/18ec1176c3eb3ce855fccca41f0e0b470ea9f404

[2016-07-27 02:48] #49 closed

[2016-07-27 03:00] #23 closed

[2016-08-10 22:43] moylop260 opened #65 "Extract TRAVIS_BRANCH value and set environment variable on t2d project pull/##"
If we run:
`t2d PROJECT pull/##`
We need to extract the branch base
We could re-use the same [runbot technical](https://github.com/odoo/odoo-extra/blob/c1ac96ec2e1cd57e3c40837f5456a3b6743998c0/runbot/runbot.py#L730-L732)
And set with `ENV TRAVIS_BRANCH=(branch_base)` on Dockerfile
1. Search all stables branches
   - git fetch origin --depth=20
   - git branch -avv | grep remotes/origin
2. Get the

[2016-08-12 01:21] moylop260 opened #66 "Use lowercase for name of folders"
thanks @zaoral

When you create a t2d the path is:
`/root/Vauxoo/Project`

Should be
`/root/vauxoo/project`

[2016-08-16 00:06] moylop260 commented on #66
@zaoral
I saw travis use the original uppercase of the project name.
<img width="237" alt="screen shot 2016-08-15 at 7 05 34 pm" src="https://cloud.githubusercontent.com/assets/6644187/17683739/4835dd16-631b-11e6-8c5c-b0c7ab2750c6.png">

We don't should change it.

We can force use lower case then you could use: `t2d project_url_lower_case branch`

[2016-08-16 00:06] #66 closed

[2016-08-24 02:28] moylop260 opened #71 "Get 'export' senteces nested in 'if' sentences"
https://github.com/PyCQA/astroid/blob/8ec025fa36c9c627bcdd6da7fab56271731d47eb/.travis.yml#L1

Maybe use
printenv >myprofile
source myprofile

Or get a diff of environment variables before of execution of the script and after....

[2016-09-19 17:52] suniagajose opened #72 "Can't open /etc/init.d/xvfb"
Summary
-------------

I'm trying to run a travis2docker to [Vauxoo/abastotal](https://github.com/Vauxoo/abastotal)
`t2dvx git@github.com:Vauxoo/abastotal.git 9.0`

![pantallazo-2016-09-19 12-27-22](https://cloud.githubusercontent.com/assets/5335402/18642563/b9cd2c48-7e66-11e6-9c65-0bbdef897f2c.png)

Additional Info
-------------------
- travis2docker **Version: 3.0.7**:

- t2dvx alias
`alias t2dv

[2016-09-19 18:20] moylop260 commented on #72
Thanks for reporting

FYI fixed here:
https://github.com/Vauxoo/docker-odoo-image/pull/155

After finish [the last hub.docker build](https://hub.docker.com/r/vauxoo/odoo-80-image-shippable-auto/builds/bsjyurz2qvbkcf7d8l6ttlm/) you'll need execute: `docker pull odoo-80-image-shippable-auto` to fix it locally.

Other way is use a previous version of travis2docker where the section of `before install

[2016-09-21 00:09] #72 closed

[2016-11-15 21:29] lasley opened #74 "Add command support - `rvm`"
In OCA/website#284 I had to add `bootstrap-sass` and `compass` to dependencies as Ruby gems. Neither of these support the standard Ruby version (anything below 2), so I also had to use the `rvm` command to upgrade to latest ruby in the before_install:

[code]

[Runbot logs](https://runbot.odoo-community.org/runbot/static/build/3272496-284-982398/logs/job_10_test_base.txt) show that this is not pos

[2016-11-15 21:30] lasley commented on #74
Thinking about this very very hard, this is an issue with the Docker base image right?

[2016-11-15 21:42] moylop260 commented on #74
Could you try install the binary from https://github.com/Vauxoo/docker-odoo-image/tree/master/odoo-shippable?

[2016-11-15 21:43] lasley commented on #74
Sweet so it is in the image and not here. Sorry for opening the ticket in the wrong repo 😦

I'll submit a PR to the base image after lunch

[2016-11-15 21:43] #74 closed

[2016-11-15 21:44] moylop260 commented on #74
Thanks man!

NOTE: You can test if is working using the `travisfile2dockerfile --docker-image CUSTOM_IMAGE` after a `docker build --no-cache -t CUSTOM_IMAGE .` from `odoo-shippable` folder

[2016-11-16 18:03] osvalr opened #76 "[3.0.8] fatal: Couldn't find remote ref"
Hi, when I run travis2docker with _our_ alias (**t2d**), I'm just getting the following error from a client repo's branch.

command used:
[code]

[code]
I just run docker container with `a565451aefbc` and tried to run manually every command in the step and noticed that
[code]
is the conflicting command

[2016-11-16 18:11] moylop260 commented on #76
Thanks for report.
It's a bug with branches named `*pull*` I will take care about this case.
Thanks!

[2016-11-16 18:13] osvalr commented on #76
@moylop260 thanks for the fast reply

[2016-12-13 16:40] #76 closed

[2016-12-13 16:44] moylop260 commented on #48
Fixed since 3.0.0 version

[2016-12-13 16:44] #48 closed

[2016-12-13 16:45] moylop260 commented on #51
This is unrelated for this project

[2016-12-13 16:45] #51 closed

[2016-12-13 16:46] moylop260 commented on #4
Fixed from 3.0.0 version

[2016-12-13 16:46] #4 closed

[2016-12-13 16:48] moylop260 commented on #50
Currently we can use
`cd ~/`
`cd $TRAVIS_BUILD_DIR`

Feel free of re-open or create a PR with this feature if is required yet.

[2016-12-13 16:48] #50 closed

[2016-12-13 17:55] osvalr commented on #50
@moylop260 thank you

[2017-01-06 20:59] hugho-ad opened #83 "Made avalible docker service if travis services: - docke setted"
DRAFT ISSUE
If the travis conf file
![image](https://cloud.githubusercontent.com/assets/10233975/21732756/a7c04868-d420-11e6-8ef9-4a2ad7e36863.png)

https://github.com/Vauxoo/runbot-addons/blob/9.0/.travis.yml#L21-L22

Then add next lines to Docker file generated
https://forums.docker.com/t/how-can-i-run-docker-command-inside-a-docker-container/337/6
VOLUME ["/var/run/docker.sock"]
RUN apt-get -yq

[2017-01-06 21:01] hugho-ad commented on #83
@moylop260 Is this feature viable?

What do you  think?

[2017-01-09 15:54] moylop260 commented on #83
If this feature is working or fixing something then create the change.

[2017-01-29 22:21] zaoral opened #85 "error when trying to run travis2docker travis-ci-apt-source-whitelist/ubuntu.json"
My version is travisfile2dockerfile 3.0.13
I just run t2d git@github.com:Vauxoo/yoytec.git 8.0

[code]

This happens when I try to load a abastotal customer t2d containter.

[2017-01-29 22:23] zaoral commented on #85
@moylop260
Can you help me with this issue?

[2017-01-30 15:59] moylop260 commented on #85
The folder `travis-ci-apt-source-whitelist` is a git submodule from https://github.com/Vauxoo/travis2docker/tree/master/src/travis2docker
If you download manually the repository try use `--recursive` git parameter to download submodules.
Or you could try installing from pypi
https://pypi.python.org/pypi/travis2docker

Feel free of re-open this isssue if is not your case

[2017-01-30 15:59] #85 closed

[2017-01-30 17:58] moylop260 opened #86 "Add a `sleep 5` at final of `script` section"
History
=====

Currently we have from `.travis.yml` file the following data:
[code]

And we have a postgresql configured with [non-durability](https://www.postgresql.org/docs/9.3/static/non-durability.html) from [vauxoo/odoo-80-image-shippable-auto](https://hub.docker.com/r/vauxoo/odoo-80-image-shippable-auto/) image.
This parameter generate a postgtresql faster but if the docker is stoped before

[2017-01-30 17:59] moylop260 commented on #86
More info from https://github.com/Vauxoo/yoytec/pull/2206#issuecomment-276088551 by @yaniaular

[2017-02-01 17:09] #86 closed

[2017-02-23 18:58] osvalr opened #92 "[3.2.1] /bin/bash: /.repo_requirements/virtualenv/python2.7/bin/activate: No such file or directory"
When t2d-ing with **`3.2.1`** there is a error running the `10-build.sh` script. I have tested with a private repo, and then with a public one (the one is the asciinema).

[![asciicast](https://asciinema.org/a/2z9xybwxo19lcn71r3mmvfob4.png)](https://asciinema.org/a/2z9xybwxo19lcn71r3mmvfob4)

This is maybe related with https://github.com/Vauxoo/travis2docker/commit/acda0657972ea44692c8eb26d83fc2fe

[2017-02-23 19:04] osvalr commented on #92
@mapuerta Can you help me to check what maybe am I missing in here? thank you for your support

[2017-02-23 19:42] mapuerta commented on #92
@osvalr You tried to update the image odoo-80-image-shippable-auto ?

**docker pull vauxoo/odoo-80-image-shippable-auto**

[2017-02-24 00:53] osvalr commented on #92
@mapuerta let me do that

[2017-02-24 01:13] osvalr commented on #92
@mapuerta thank you, it did work.

[code]

[2017-02-24 01:13] #92 closed

[2017-03-21 21:04] JesusZapata opened #97 "[IMP] Set automatically the enviroment variable TRAVIS_PULL_REQUEST and TRAVIS_PULL_REQUEST_BRANCH"
When run `travisfile2dockerfile git@github.com:Vauxoo/runbot-addons.git pull/93` and before to run the `10-build.sh` and `20-run.sh`

We run the entrypoint `/entrypoint.sh` always show all check in green because the enviroment variable `TRAVIS_PULL_REQUEST` and `TRAVIS_PULL_REQUEST_BRANCH` is not set

@moylop260
What do you think about this issue?

[2017-03-22 19:09] moylop260 commented on #97
Note: We will need to consider this case for GITLAB too

[2017-03-28 15:52] luisg123v opened #99 "travisfile2dockerfile: always returns a non-zero value"
When the command `travisfile2dockerfile` is executed, it always returns a non-zero value, even if nothing failed.

This makes it hard to use withing scripts, because there's no easy way to detect if the application really failed

Steps to reproduce:

1. Execute the example described in the README file:
[code]

2. Check the returned value:
[code]

[2017-04-25 17:41] glizek opened #100 "t2d abastotal: doesn't download dependencies"
When I created a t2d of abastotal, it didn't download any of the dependencies.

![abastotal2](https://cloud.githubusercontent.com/assets/25072045/25399215/4b8f6242-29b4-11e7-87c8-28040a35ff2e.png)

[2017-04-25 17:45] luistorresm commented on #100
@glizek

In what folder you run .10 & .20? 1 or 2?

Regards

[2017-04-25 17:47] glizek commented on #100
@luistorresm
I'm running it in folder 2

[2017-04-25 17:48] moylop260 commented on #100
Did you have the full log output from 10-build command?

[2017-04-25 17:49] luistorresm commented on #100
You must run folder 1

https://github.com/Vauxoo/abastotal/blob/10.0/.travis.yml#L34

Folder 2 only check lint errors, and 1 run all instance.

Could you close this Issue?

Regards

[2017-04-25 18:10] glizek commented on #100
@luistorresm

 thank you.

[2017-04-25 18:11] #100 closed

[2017-05-17 12:43] JesusZapata opened #101 "[FIX] Support merger_request"
Try made t2d with one merge_request
`travisfile2dockerfile git@git.lab.com:owner/repo.git merge_requests/1`
And show the next error
![image](https://cloud.githubusercontent.com/assets/1387970/26154308/f0803324-3adc-11e7-8de1-2329f63cfd12.png)

[2017-05-17 14:30] moylop260 commented on #101
use pull/1

[2017-05-17 22:05] JesusZapata opened #102 "[IMP] Add to Dockerfile --privileged if the .travis.yml contains services [docker]"
When the `.travis.yml` contains one `services [docker]` is necessary add to `20-run.sh` the parameter `--privileged` to be able to install Docker insido another Docker

Fox example: https://github.com/Vauxoo/runbot-addons/blob/9.0/.travis.yml#L22

[2017-05-23 11:55] roscopecoltran opened #103 "Docker alpine / Toolchains"
HI guys,

Hope u are all well !

Just wanted to ask how complicated it would be to choose between a docker alpine based image with travis; it would be awesome to shrink the size of the running containers ^^.

**refs:**
- Alpine + Travis:
  - https://github.com/jamespamplin/docker-alpine-travis-cli
  - https://github.com/caktux/docker-travis-cli
  - https://github.com/alpinelinux/alpine-chroot-inst

[2017-05-23 14:12] moylop260 commented on #103
Hello
Thanks for issue.

You can use other image using
--docker-image --docker-user parameter.

Travis has available a lot inages to use but are very heavy.
Use a custom ligth image is a good idea.
Do you have created a custom image?

[2017-05-23 15:00] #101 closed

[2017-05-23 15:06] roscopecoltran commented on #103
Not yet, I just found your package yesterday as I am working on some kind of helper, in python, to help me to ci and build cross-platform packages. But to will definitely do it ! :-)

Would be cool to have some embedded registry to save all the travis.yaml file processed with a graph linking them to the vcs project uri. :-)

[2017-05-27 18:49] zaoral opened #104 "odoo user do not see an already installed python package and can not install new packages"
Here is a video showing the error
https://youtu.be/52NRy5REWWQ

[2017-05-27 18:50] zaoral commented on #104
HI @JesusZapata

I am not sure if this is the correct repository where the issue should belong.
Please let me know the correct repository in order to move the issue there.

Best Regards

[2017-05-27 20:10] JesusZapata commented on #104
@zaoral
If you want to install a package in a container you can enter the container as root
`docker exec --user=root -it CONTAINER_ID bash`

This is what you ask?

[2017-05-27 20:14] JesusZapata commented on #104
@zaoral
You could give me the original t2d command to replicate the error

[2017-05-28 00:57] moylop260 commented on #104
Could you share us the `docker images | grep shippable` result in order to see the sha version too, please?

[2017-05-29 14:09] zaoral commented on #104
Hi @JesusZapata @moylop260

1. yes, if I exec the containter as root user, I am not able to install libxml2-python. And neither I am able to run my script: it said the same that the argcomplete is not installed when I try to run the script, but when I ran pip freeze | grep argcomplete. it saids is installed 'argcomplete==1.8.2'. Even with root user I am not able to run the script because of "missi

[2017-06-01 12:52] zaoral commented on #104
Hi @JesusZapata

Any news about this issue?

[2017-06-01 21:53] JesusZapata commented on #104
@zaoral

**About argcomplete**
I made this PR https://github.com/vauxoo-dev/gist-vauxoo/pull/95 for auto install of `argcomplete`

![image](https://cloud.githubusercontent.com/assets/1387970/26701588/b5adafa0-46ef-11e7-9fe1-1e789a67b92c.png)

**About libxml2**
I run `docker exec --user=root -it **SHA_DOCKER** bash` and install `python-libxml2` with this command `sudo apt-get install python-libxml2

[2017-06-01 21:57] JesusZapata commented on #104
@zaoral
I test this changes with this command `t2d git@github.com:JesusZapata/asdcust.git 10.0`
Only if you want to try

[2017-06-09 19:51] zaoral commented on #104
Test it, everything is working properly.
Thank you @JesusZapata

[2017-06-12 20:11] moylop260 opened #105 "Using travis default image is not loading "source nvm.sh""
Using t2d with https://quay.io/repository/travisci/travis-python image we don't have a `source nvm.sh` so running `nvm` command we have the following error:
`bash: nvm: command not found`

[2017-06-21 14:35] JesusZapata commented on #104
@zaoral
If you can test everything, you can close this issue and this PR https://github.com/vauxoo-dev/gist-vauxoo/pull/95 ?
Or do you have another problem?

[2017-06-21 15:17] #104 closed

[2017-09-25 05:32] moylop260 opened #108 "Using ssh runbot connection for a py3 build is using py27 virtualenv"
Steps to reproduce it:

Go to runbot build of https://github.com/Vauxoo/enterprise-mx/pull/111 and connect from ssh.

Saw:
virtualenv in bash loaded `(nodejs)(python2.7)`

[code]

Expected:
virtualenv py3

[2017-09-28 14:20] #108 closed

[2017-11-24 15:36] JesusZapata commented on #102
I will close this issue because the services `docker` it is not very common, this process can be made manually

[2017-11-24 15:36] #102 closed

[2018-05-03 01:14] moylop260 opened #116 "Supports addons: postgresql section"
Assign the environment variable `PSQL_VERSION="9.5"` if a [addons: postgresql: "9.5"](https://docs.travis-ci.com/user/database-setup/#Using-a-different-PostgreSQL-Version) is used from .travis.yml

[2018-05-22 14:14] #116 closed

[2019-03-11 19:58] moylop260 opened #121 "Supports ARGS from Dockerfile to build variables"
Something like
[code]

In order to get GITHUB_TOKEN to install patches from build process

[2019-08-11 21:40] jeremydouglass opened #122 "yaml.load is deprecated"
Running travis2docker prints:

[2019-08-12 15:30] #122 closed

[2020-03-02 09:04] smith51 opened #129 "travis2docker not producing scripts"
I tried `travisfile2dockerfile` on several projects but it don't produce scripts *.sh. Even on travis2docker project. What I am making wrong?

[code]

[code]

I am using Debian 10, installed travis2docker by pip. All needed libraries was installed:

[code]

[2020-07-31 14:59] #99 closed

[2020-08-10 21:06] #129 closed

[2020-08-10 22:28] luisg123v commented on #129
Hi @smith51,

Thanks for the detailed report and sorry for not answering your issue before.

In your example, no scripts were being generated because the Python version was not declared globally, but one Python version per matrix.

That way of using travis matrix is not fully supported yet. We just deployed an improvement so that scripts should now be generated, but there still are some changes to

[2022-05-07 23:59] edy1192 opened #138 "Traceback using python 3.10"
Traceback (most recent call last):
  File "/usr/local/bin/travisfile2dockerfile", line 5, in <module>
    from travis2docker.cli import main
  File "/home/user/.local/lib/python3.10/site-packages/travis2docker/cli.py", line 29, in <module>
    from .travis2docker import Travis2Docker
  File "/home/user/.local/lib/python3.10/site-packages/travis2docker/travis2docker.py", line 10, in <module>
    im

[2022-05-07 23:59] luisg123v commented on #103
This repo will be deprecated soon, so closing.

[2022-05-07 23:59] #103 closed

[2022-05-08 00:00] #97 closed

[2022-05-08 00:00] #83 closed

[2022-05-08 00:01] #71 closed

[2022-05-08 00:03] #65 closed

[2022-05-08 00:05] luisg123v commented on #138
@edy1192 could you try updating jinja2, please?

[2022-05-08 00:08] edy1192 commented on #138
@luisg123v with jinja2-3.1.2 I got the same traceback.

[2022-05-08 00:18] luisg123v commented on #138
I see jinja2 is under your local user environment, maybe you could fix it yourself. If that's the only Python 3.10 issue (lukely), that could work.

Just edit:

`/home/user/.local/lib/python3.10/site-packages/jinja2/tests.py`

And change:

`from collections import Mapping`

by:

`from collections.abc import Mapping`

Of course, this would be a temporary solution.

@ebirbe didn't this happen to you

[2022-05-09 18:54] #138 closed

[2022-09-06 20:32] #105 closed

[2022-09-06 20:32] #121 closed

[2022-09-19 15:24] GSLabIt opened #156 "Question about build_image travis param"
hi there,

is `build_image` in  `.travis.yml `used to pull the correct image?

It seems should be used as per:
https://github.com/Vauxoo/travis2docker/blob/74ba078425b42f454b8510dd0cb6eac1347e6963/src/travis2docker/cli.py#L87

but actually it get the image set in repository configuration:

<img width="1243" alt="Schermata 2022-09-19 alle 17 22 28" src="https://user-images.githubusercontent.com/116

[2022-09-22 04:08] moylop260 opened #158 "t2d --deployv: Configure vscode using"
There is a way to pre-configure vscode in the container

So, it could be great to configure python, lints with out configuration files and so on...

[2022-09-22 14:36] moylop260 commented on #156
Hi @GSLabIt

It is using the configured in the runbot.repo record

[2022-09-22 14:36] #156 closed

[2022-09-22 14:37] GSLabIt commented on #156
Oh ok, thanks

[2022-10-01 21:41] ysantiago opened #162 "deployv: Allow autocomplete the python debugger "pdb" in vim."
Python debugger with ```pdb``` in vim is frequently used, therefore it is quite useful to turn on autocomplete when typing pdb + tab to  get ```__import__('pdb').set_trace()```.

[2022-10-01 21:54] luisg123v commented on #162
AFAIK it should be:

`import pdb; pdb.set_trace()`

So it's easily catched by lints if someone forgets to remove it.

[2022-10-04 00:01] antonag32 commented on #158
Seems like this can be done with some sort of `devcontainer.json` config file, starting to look into it.

[2022-10-04 17:44] moylop260 opened #164 "t2d --deployv: Install ZSH only if you define a build-arg to do it"
Currently, there is a t2d parameter called `--build-extra-args` it is used to use a custom GITHUB_TOKEN send in the step build

It can be defined as:

 - `t2d --build-extra-args='--build-arg GITHUB_TOKEN=xyz' ...`

There are devs using ZSH but other ones are using the default BASH

So, we need to define a build arg to enable zsh installation by default it should not be installed since runbot is sp

[2022-10-04 17:47] moylop260 opened #165 "t2d --deployv: Configure VIM only if you have defined a build-arg to do it"
Continue of https://github.com/Vauxoo/travis2docker/issues/164 but for VIM custom installation

MQT was installing a custom VIM and it was working
 - https://github.com/Vauxoo/docker-odoo-image/blob/master/odoo-shippable/scripts/build-image.sh#L246-L343

We need to migrate the vim installation to new method to t2d:
 - https://github.com/Vauxoo/travis2docker/blob/c27cd5fbac5624db2b5a5d7d01b10f5124b

[2022-10-04 17:47] moylop260 commented on #162
Superseded by https://github.com/Vauxoo/travis2docker/issues/165

[2022-10-04 17:47] #162 closed

[2022-10-04 18:48] moylop260 opened #167 "t2d: Define a default for --root-path"
Currently,

If `--root-path` is not defined a tmp folder is used

However, it can not be re-used a second time

Better using a default

Currently, we are using a t2d alias with the following value ` --root-path=$HOME/.t2d` so we could use the same path

[2022-10-04 18:54] luisg123v commented on #167
:+1:

[2022-10-07 14:26] moylop260 opened #171 "t2d: vscode - Enable plugins and configurations"
- [ ] Install `eamodio.gitlens` it is configured for github
- [ ] Configure debbug mode for odoo

...Enable/configure the features commented in the following thread:
 - [2020-09-07 Vauxoo Bytes](https://groups.google.com/a/vauxoo.com/g/equipo/c/4ka9Zxd2Ey8/m/reFKGf2aBgAJ)

- [ ] Configure gitlens to be compatible with gitlab
  - [2021-01-25 Vauxoo Bytes](https://groups.google.com/a/vauxoo.com/g/eq

[2022-10-07 14:59] moylop260 commented on #158
Fixed from https://github.com/Vauxoo/travis2docker/pull/170

[2022-10-07 14:59] #158 closed

[2022-10-11 16:16] moylop260 opened #172 "t2d: deployv - Request Features..."
- [ ] Use original PSQL from image but advice to user to use a extra command to start using root similar to `chown` (and using volume to be psql faster in the main image?)
- [ ] Add to PATH /home/odoo/.local/bin if you use pip install --user
- [ ] chown -R odoo:odoo /home/odoo/.config
- [ ] Call the same method from vxci to install chrome
- [ ] 10-build.sh using text plain if macosx `--progress=pl

[2022-10-13 18:18] ebirbe opened #174 "KeyError: 'docker_image_repo' when using t2d to clone a new repo"
Trying to use `nortenas` repository to build a new image using the `--deployv` option I get this traceback:

[code]
I think the `nortenas` repo is not prepared to use this option, but maybe catch this error and present a more readable error and/or recommendations could be better.

[2022-10-13 18:21] moylop260 commented on #174
@luisg123v

Could you help us to migrate this project, please?

@ebirbe

If this project is not migrated you even can use normal way without `--deployv` parameter

@antonag32

Could you catch the message in a better way, please?

[2022-10-13 19:11] antonag32 commented on #174
@ebirbe
As a temporary fix you can avoid this error with the extra parameter `docker-image`,  you  will need to download the Deployv image manually.
For example, this is one of my entries from `docker image ls`
[code]

You can run t2d with `--deployv` like this:
[code]

[2022-10-13 19:15] moylop260 commented on #174
@antonag32 it works for cases where the docker image is already generated and pushed

But I think this odoo-sh project is not

[2022-10-14 16:46] luistorresm commented on #165
Hello @antonag32

Do you have any news about this ticket?

Or maybe an expected date?

Regards

[2022-10-14 17:10] antonag32 commented on #165
@luistorresm

Hello, I think I will make a PR for it today.

[2022-10-14 18:39] #167 closed

[2022-10-17 15:09] moylop260 commented on #165
@antonag32

Be aware about the last review, please
 - https://github.com/Vauxoo/travis2docker/pull/176#pullrequestreview-1144335454

Could you send a video with your local functional testing, please?

[2022-10-17 18:50] antonag32 commented on #165
Yes, working on it

[2022-10-19 20:17] hbto opened #178 "Add the option of fetching the coverage from the image created with t2d --deployv"
in the previous version of t2d, that is t2d with --deployv switch,

We were able to fetch a coverage report with the following command:

[code]

Can we have it back in order to assess how are we increasing/decreasing the coverage of our development without having wait for the CD. This will have a good side effect reduce the number of job in the CD only to know the coverage.

Regards.

[2022-10-19 20:20] hbto opened #179 "Add spf13 vim plugins"
Hello.

Could it be possible to add the spf13 vim plugins to the development image.

and add colorscheme in .vimrc as:

[code]

right now those of us who use vim end up installing this plugins manually on every image. and setting manually a colorscheme in the .vimrc

Regards.

[2022-10-19 23:34] #164 closed

[2022-10-19 23:59] moylop260 commented on #179
Superseded by https://github.com/Vauxoo/travis2docker/issues/165

[2022-10-19 23:59] #179 closed

[2022-10-20 03:39] moylop260 commented on #165
@hbto @luistorresm @deivislaya @ysantiago

Could you test the new feature using?
 - `t2d --deployv --build-env-args=VIM_INSTALL REPO BRANCH`

You even can use the `alias` to set it next times

Notice you need to update the t2d pypi package to `v6.4.1`

Before to build you can double confirm checking the Dockerfile output:

You should see the following output:
 - `cat .t2d/script/git_git.vauxoo.com

[2022-10-20 03:48] #174 closed

[2022-10-20 03:53] moylop260 commented on #178
For record,
we need to migrate the `coverage` command:
 - https://git.vauxoo.com/devops/vxci/blob/f15e10854907f51911725cb68/vxci/common.py#L610

And generates coveragerc content:
 - https://git.vauxoo.com/devops/vxci/blob/f15e10854907f51911725cb68d01232a6ccd8b4c/vxci/common.py#L699

And get the same coveragerc file:
 - https://git.vauxoo.com/devops/vxci/blob/f84d1a9c0c64ed38c6c5498b6949da54048e321

[2022-10-20 17:28] luistorresm commented on #165
Hello @moylop260

I get this error when found a lint error:
![Captura de Pantalla 2022-10-20 a la(s) 12 26 51](https://user-images.githubusercontent.com/7606656/197017734-ec00cf02-3d78-476e-ac98-030eb15b7e17.png)

[2022-10-21 18:40] antonag32 commented on #178
The idea is to have everything autoconfigured. So that as stated, when running the command `coverage run` or `coverage report -m`, you can automatically regenerate coverage data or see the coverage report.

The commands must simply _work_. So for example, the result should be the same regardless of the current working directory. It should also use the customization each repo has in their `variable

[2022-10-21 18:56] #171 closed

[2022-10-21 19:13] moylop260 commented on #165
@antonag32

Could you complement the t2d output message with:
 - `vim spf13 is not configured, if you want it run t2d --...`

[2022-10-21 19:21] moylop260 commented on #165
@antonag32

Could you fix the following error, please?

[code]

[2022-10-21 19:23] moylop260 commented on #165
@antonag32

Is possible to fix the following one too, please?
[code]

[2022-10-21 19:24] moylop260 commented on #165
@hbto

The pylint was fixed:
 - <img width="1084" alt="Screen Shot 2022-10-21 at 14 23 36" src="https://user-images.githubusercontent.com/6644187/197273859-b120b0b8-8cef-4d35-80e0-146be22e4085.png">

Note: You will need to update the t2d package

[2022-10-21 20:55] hbto commented on #165
Thanks a lot I will check in my next cycle of t2d generation.

Regards.

[2022-10-25 23:32] antonag32 commented on #165
@moylop260 the requested fixes are here:
https://github.com/Vauxoo/travis2docker/pull/183

[2022-10-26 03:33] #178 closed

[2022-10-26 15:28] moylop260 commented on #178
For record,

It is working like a charm
 - <img width="1534" alt="Screenshot 2022-10-26 at 10 27 14" src="https://user-images.githubusercontent.com/6644187/198068807-5e6a95e7-b8a5-4bbb-b1b7-01d2ecaddaaa.png">

Thank you @antonag32

[2022-10-26 15:29] moylop260 commented on #165
@antonag32

I don't know if something is wrong with this plugin or the version but opening a .py file it is raising the following errors and request press enter again and again:
 - <img width="891" alt="Screenshot 2022-10-26 at 10 28 43" src="https://user-images.githubusercontent.com/6644187/198069104-a827da92-f406-4b45-a42c-34f5a062c29b.png">

Could you check it, please?

[2022-10-26 15:30] moylop260 commented on #165
For record,

The installation process was fixed:
 - <img width="866" alt="Screenshot 2022-10-26 at 10 29 51" src="https://user-images.githubusercontent.com/6644187/198069363-a9285f0d-35db-4f93-a704-3994513bdf56.png">

Thank you!

[2022-10-27 04:02] hbto commented on #165
<img width="1352" alt="Screen Shot 2022-10-26 at 22 52 13" src="https://user-images.githubusercontent.com/7598010/198188290-a8e26df1-844e-4ceb-80cc-6c7c7c584598.png">

There is a typo in the output.

Regards.

[2022-10-27 14:48] moylop260 commented on #165
Done from https://github.com/Vauxoo/travis2docker/pull/185

IMHO this issue is ready

Let me know if not

For now, closing it

[2022-10-27 14:48] #165 closed

[2022-10-28 08:15] hbto opened #186 "Advice that directory /home/odoo/.cache Needs permission update"
When first running pre-commit-vauxoo

It tries to create new folders at directory /home/odoo/.cache/

But in doing so an Exception is raised:
[code]

![Screenshot 2022-10-28 at 3 07 13](https://user-images.githubusercontent.com/7598010/198537907-a5059ef4-da3c-40f3-a7f8-f80e93e2abfe.png)

Changing ownership on folder from root to odoo is needed

[code]

as directory is owned by root:
![Screenshot 2

[2022-10-28 14:52] moylop260 commented on #186
@antonag32

This folder can be changed during the image build since it is not a volume (I think so)

Could you check what particular folders or files in the /home/odoo path has root permissions in order to run chown from the Dockerfile, please?

e.g.  `chown -R odoo:odoo /home/odoo/.config` from https://github.com/Vauxoo/travis2docker/issues/172

Also, the following path is missing in the PATH `/h

[2022-10-28 14:55] moylop260 commented on #186
BTW
Maybe something is not working well here:

 - https://github.com/Vauxoo/travis2docker/blob/53beaaa58b7ac3296adbdfcfbb0c3bc6783fb4e2/src/travis2docker/templates/build.sh#L178

Notice we don't like to run `chown -R odoo:odoo /home/odoo/` because of it spends a lot of time and almost of the path already have odoo permission

[2022-10-28 15:52] luisg123v commented on #186
FYI @allanpa88

[2022-11-07 23:42] antonag32 commented on #186
@moylop260

I don't think we can place it in the Dockerfile since these folders are not part of the base install, but are generated by optional programs, like vim.

In this case `.cache` being owned by root is caused by choosing installing the `ctrpl` plugin for vim.
`/home/odoo/.spf13-vim-3` is also owned by root but I don't think that causes any problems.

I also could not find `/home/odoo/.conf

[2022-11-07 23:47] moylop260 commented on #186
You can use a find with `not user`
 - `find /home/odoo -not -user moylop260 -depth 1 -exec chown -R odoo:odoo {} \;`

[2022-11-08 00:24] moylop260 commented on #186
FYI `$HOME/.cache` is a generic folder used from pre-commit, pip and so on

[2022-11-08 03:43] #186 closed